body{
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.App {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.header {
  height: 20vh;
  background-color:  #61dbfb;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header input:nth-child(2) {
  width: 200px;
  height: 40px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  border: 1px solid grey;
  outline:none;
}

.header input:nth-child(3) {
  width: 200px;
  height: 40px;
  padding-left: 15px;
  font-size: 17px;
  border: 1px solid grey;
  border: none;
  outline:none;
}

.header button{
  width: 90px;
  height: 43px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  background-color: #007bb8;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.header button:hover:focus:active {
  border: 1px solid #61dbfb;
}

.todList{
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  height: 70vh;
  padding: auto !important;
  background-image: url('../public/tsreact.png');
  background-repeat: no-repeat;
  background-position: center;
}

.task{
  width: 500px;
  height: 40px;
  display: flex;
  margin: 10px;
  background-color: aliceblue;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  border: 1px solid #61dbfb;
}

.task button {
  flex: 5%;
  height: 40px;
  border: none;
  background-color: #007bb8;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.task button:hover:focus:active {
  border: 1px solid #61dbfb;
}